body{
    background-color: rgb(58, 27, 114);
}
.heading
{
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    background-color: rgb(58, 27, 114);
    color: rgb(247, 247, 247);
}
.heading-mark{
    color: rgb(253, 253, 253);
    font-weight: bold;
    padding: 3px;
;}