<!DOCTYPE html>
<html lang="en">
<div style="background-image: url('https://wallpapercave.com/wp/hAGfkE2.jpg');">

<head>
    <!-- icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[GD™] Club Chat</title>
</head>
<body>

    <div>
        <h1><p style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;"> [GD™] Club Chat</p></h1>
    </div>
    <p>
        <br>
    </p>

    <div class="container text-center mt-5">
        <p style="color: white;">
        <h2><p style="color: white;">Welcome to [GD™] Club Chat!</p></h2>
        <br>
        </p>
        <p style="color: white;">
            Enter a custom club name, and click create! <br> 
            Share the club name with your friends, so that they can join!
            <br>
            <br>
        </p>

        <form id="room_form" method="POST" class="form shadow" style="max-width:400px; margin-left: auto; margin-right: auto;">
            <div class="input-group mb-3">
                <input type="text" name="room_id" id="room_id" class="form-control" placeholder="Custom club Name" autofocus required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <div class="input-group-append">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
                
            </div>
        </form>
        <p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            This project is built and maintained by [GD™ Industries]<br>
            For any contribution or bugs, please contact us with our official site!<br>
            <br>
            <a
            href="https://gsnish25255.wixsite.com/mysite">[GD™ Industries] 2020©</a>
            


        </p>
    </div>

</body>
</div>
</html>